{% extends "base_generic.html" %}

{% block content %}
<h1>Rethink web portal</h1>

<p>Welcome to <em>Rethink</em>, project from iit and recycle ministry of srilanka.
<p>You can request to recycle stuff you don't need anymore using this web application.</p>


<h2>Our mission</h2>
<p>Cleaner planet. </p>

<div>
{% load static %}
<img src="{% static "images/recycle-symbol.jpg" %}" alt="My image" style="width:555px;height:540px;"/>
</div>  


<h2>Dynamic content</h2>

<p>Current statics:</p>
<ul>
<li><strong>Recycle requests:</strong> {{ num_books }}</li>
<li><strong>Active agencies:</strong> {{ num_instances }}</li>
<li><strong>Active users:</strong> {{ num_instances_available }}</li>
{#<li><strong>Authors:</strong> {{ num_authors }}</li>#}
</ul>


You have visited this page {{ num_visits }} times.

{% endblock %}